require 'topoisomerase'
# Stub for <%= @class_name %> created by 'topoisomerase'
class <%= @class_name %>
  <% @dynamic_methods.each do |method_to_stub, method_data| %>
  # <%= comment_for(method_to_stub, method_data) %>
  def <%= method_to_stub %> <%= method_data[:parameters].join(',') %>
    # Defined at <%=  method_data[:location] %>
    raise Topoisomerase::Error, "Method '<%= method_to_stub %>' called with when it
    should not have been. Don't require stub files"
    # This is merely a stub. Contents is below
<%= method_data[:source] %>
  end
  <% end %>
end
